* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(144, 198, 253);
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div2 {

    height: 40vh;
    width: 25vw;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    align-content: end;
    color: pink;
    text-shadow: 0 0 10px #FF0000, 0 0 10PX #0000FF;

}

.div2 video {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #e62929b0;
    z-index: 0;
}
button{
    height: 60px;
    width: 90px;
    border: none;
    border-radius:20px ;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 2px 2px 2px 2px #0000ff76;

}
button:hover{ 
    background-color: rgba(119, 165, 212, 0.667);
    color: rgba(255, 255, 255, 0.982);
    transition: 0.4s;
}
.vid2 video{
    border: none;
    border-radius: 20px;
}



@media screen and (max-width:1100px) {

    .div2 {
        width: 600px;
        height: 600px;
        font-size: 80px;

    }
    button{
        width: 25%;
        height: 13%;
        font-size: 30px;
    }
    .div3{
        width: 600px;
        height: 600px;
        font-size: 50px;

    }

}
/* ----------------------------------------------------------------------------- */

.popup{
    color: white;
    width: 900px;
    height: auto;
    background-color: rgba(49, 193, 237, 0.95);
    border-radius: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 20px 20px 10px rgba(252, 252, 252, 0.3);
    visibility: hidden;
    transform: 0.4s ;
    top: 0.4s0;
    align-content: center;
    justify-content: center;
}
.open-x{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
    transition: 0.5s;
}

.popup h1{
    font-size: 50px;
    font-weight: 800;
    margin: 30px 0 10px;
    text-shadow: 5px 5px 5px #0000006d;
    color: #f6f1f1;
    animation: colorchange 5s infinite;
    
}
 @keyframes colorchange {
    0%{
        color: #f33a3a;
        text-shadow: 5px 5px 5px #631616;
    }
    20%{
        color: #56b0f5f0;
        text-shadow: 5px 5px 5px #2e6188f0;
    }
    40%{
        color: #a840f8;
        text-shadow: 5px 5px 5px #592085 ;
    }
    60%{
        color: #f744e5f0;   
        text-shadow: 5px 5px 5px  #52174cf0;
    }
    80%{
        color: #f55683f0;
        text-shadow: 5px 5px 5px #8d314bf0;
    }
    100%{
        color: #e1ecf4f0;
        text-shadow:5px 5px 5px #747a7ff0;
    }
 }


.popup p{
    font-size: 30px;
    font-weight: 200;
}
#Ok{
    width: 50%;
    margin-top: 50px;
     padding: 10px 0; 
    background-color: rgba(244, 80, 80, 0.8);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
    
}
#Ok:hover{
    background-color: rgb(253, 143, 143);
    color: black;
    transition: 0.5s;
    color: #c00202;
}
#pop1{
    position: absolute;
    width: 100vw;
    display: none;
}
.div4{
    float: right;
    margin-right: 50px;
}

#pop2{
    position: absolute;
    bottom: 150px;
    width: 100vw;
    display: none;
}
.div5{
    
    bottom: 100px;
    margin-left: 200px;
}
.div5 button{
    width: 300px;
}
#last{
    position: absolute;
    align-content: center;
    justify-content:center;
    display: none;

}
#last h1{
    text-align: center;
    font-size: 50px;
    color: #c00202;
    text-shadow: 0px 0px 12px rgba(255, 0, 0, 0.87);

}
#last video{
    border-radius: 30px;
    box-shadow: 0px 0px 30px#d02b2b;
}
@media screen and (max-width: 1100px) {
    #soch{
        width: 150px;
        height: 50px;
    }
    #mujhe{

    }
}